<h1>Artilcles</h1>

<%= link_to 'Novo Article', new_article_path %>

<ul>   
    <% @articles.each do |article| %>    
     <li>
        <%= link_to article.titlle, article%>
        </a>
     </li>
    <% end %>   
</ul>

